In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import os
import json

import Tools4Cluster as TC
from src.dynamic_pricing_data_loader import cargar_y_preparar_datos

In [2]:
def GetDB():
    DB = pd.read_excel("ClusteringClientes.xlsx")
    return DB

In [3]:
def GetTodayData():
    Df = TC.GetData()
    Df['FECHA_OPERACION'] = pd.to_datetime(Df['FECHA_OPERACION'])
    fecha_maxima = Df['FECHA_OPERACION'].max()
    Df = Df[Df['FECHA_OPERACION'] == fecha_maxima].copy()
    Df.loc[(Df['PORCENT_PROMO'] > 0) & (Df['DESC_DESCUENTO'] == 'ADULTO'), 'DESC_DESCUENTO'] = 'PROMOCION ESPECIAL'
    # Si tiene 0% de promoción pero estaba marcado como "PROMOCION ESPECIAL", devolverlo a "ADULTO"
    Df.loc[(Df['PORCENT_PROMO'] == 0) & (Df['DESC_DESCUENTO'] == 'PROMOCION ESPECIAL'), 'DESC_DESCUENTO'] = 'ADULTO'
    Df['VENTA_ANTICIPADA']= np.where(Df['VENTA_ANTICIPADA']=='SI',1,0)
    return Df

In [4]:
def Preparacion():
    Df= GetTodayData()
    DB= GetDB()

In [5]:
Df= GetTodayData()
DB= GetDB()

Memoria usada antes: 619.61 MB
Memoria usada después: 120.48 MB
Reducción: 80.6%

In [6]:
DB.columns

Index(['EMAIL', 'SBol_Vend', 'Prom_Pagado', 'Sum_Pagado', '%_Promo',
       'Prom_Horas_Ant', 'Venta_Ant', 'Recencia', 'PAGO_EFECTIVO',
       'PAGO_TARJETA', 'DESC_ADULTO', 'DESC_DISCAPACIDAD', 'DESC_ESTUDIANTE',
       'DESC_MENOR', 'DESC_PETFRIENDLY', 'DESC_PROFESOR',
       'DESC_PROMOCION ESPECIAL', 'DESC_SENECTUD', 'Cluster'],
      dtype='object')

In [7]:
DB

,EMAIL,SBol_Vend,Prom_Pagado,Sum_Pagado,%_Promo,Prom_Horas_Ant,Venta_Ant,Recencia,PAGO_EFECTIVO,PAGO_TARJETA,DESC_ADULTO,DESC_DISCAPACIDAD,DESC_ESTUDIANTE,DESC_MENOR,DESC_PETFRIENDLY,DESC_PROFESOR,DESC_PROMOCION ESPECIAL,DESC_SENECTUD,Cluster
0,00-MAZA.ESQUISTOSO@ICLOUD.COM,4,953.664978,3814.659912,6.25,2.5,0.75,190,1,0,0,0,0,0,0,0,1,0,1
1,0022ANDREAGONZALEZ@GMAIL.COM,2,504.309998,1008.619995,0.00,24.5,0.50,781,0,1,0,0,1,0,0,0,0,0,5
2,01MENDEZ.CESAR@GMAIL.COM,9,1112.066772,10008.600586,5.00,10.0,1.00,183,0,1,0,0,0,0,0,0,1,0,2
3,0209396@UP.ED.MX,2,1034.479980,2068.959961,5.00,4.0,1.00,798,0,1,1,0,0,0,0,0,0,0,4
4,0209396@UP.EDU.MX,8,892.562500,7140.500000,10.00,7.5,0.50,687,0,1,0,0,0,0,0,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137257,ángel.álvarez.rodríguez@ejemplo.com,1,1142.500000,1142.500000,5.00,1.0,0.00,35,1,0,0,0,0,0,0,0,1,0,6
137258,édgar.nava@ejemplo.com,1,985.340027,985.340027,10.00,15.0,1.00,686,1,0,0,0,0,0,0,0,1,0,6
137259,óscar.adrián.fonseca.ramirez@ejemplo.com,1,754.309998,754.309998,0.00,55.0,1.00,798,1,0,1,0,0,0,0,0,0,0,6
137260,óscar.alejandro.romero@ejemplo.com,1,1134.310059,1134.310059,5.00,4.0,1.00,103,1,0,0,0,0,0,0,0,1,0,6
137261,óscar.enrique.morales.mora@ejemplo.com,1,907.760010,907.760010,10.00,2.0,0.00,862,1,0,0,0,0,0,0,0,1,0,6

In [8]:
Df.head(1)

,NOMBRE_PASAJERO,BOLETOS_VEND,CLASE_SERVICIO,DESC_DESCUENTO,DIAS_ANTICIPACION,EMAIL,FECHA_CORRIDA,FECHA_OPERACION,HORAS_ANTICIPACION,PAGO_METODO,PORCENT_PROMO,TIPO_CORRIDA,TIPO_PASAJERO,TOTAL_BOLETOS,VENTA,VENTA_ANTICIPADA,VENTA_TOTAL
343892,REY RICARDO ELIZALDE,1.0,DOS PISOS ETN,ADULTO,0,rey.ricardo.elizalde@ejemplo.com,2025-10-03,2025-10-03,2.0,EFECTIVO,0.0,NORMAL,AD,1.0,1202.589966,1,1395.0

In [9]:
Mask_p = Df['EMAIL'].isin(DB['EMAIL'])
Mask_p1 = DB['EMAIL'].isin(Df['EMAIL'])

In [10]:
Df_Not= Df[~Mask_p]
DB_In= DB[Mask_p1]

In [11]:
Df_Not.head(2)

,NOMBRE_PASAJERO,BOLETOS_VEND,CLASE_SERVICIO,DESC_DESCUENTO,DIAS_ANTICIPACION,EMAIL,FECHA_CORRIDA,FECHA_OPERACION,HORAS_ANTICIPACION,PAGO_METODO,PORCENT_PROMO,TIPO_CORRIDA,TIPO_PASAJERO,TOTAL_BOLETOS,VENTA,VENTA_ANTICIPADA,VENTA_TOTAL
343892,REY RICARDO ELIZALDE,1.0,DOS PISOS ETN,ADULTO,0,rey.ricardo.elizalde@ejemplo.com,2025-10-03,2025-10-03,2.0,EFECTIVO,0.0,NORMAL,AD,1.0,1202.589966,1,1395.0
343893,MARTHA NAVA,1.0,DOS PISOS ETN,PROMOCION ESPECIAL,0,martha.nava@ejemplo.com,2025-10-03,2025-10-03,2.0,EFECTIVO,20.0,NORMAL,PE,1.0,962.070007,1,1116.0

In [12]:
DB_In.head(2)

,EMAIL,SBol_Vend,Prom_Pagado,Sum_Pagado,%_Promo,Prom_Horas_Ant,Venta_Ant,Recencia,PAGO_EFECTIVO,PAGO_TARJETA,DESC_ADULTO,DESC_DISCAPACIDAD,DESC_ESTUDIANTE,DESC_MENOR,DESC_PETFRIENDLY,DESC_PROFESOR,DESC_PROMOCION ESPECIAL,DESC_SENECTUD,Cluster
3481,ANDREA.EXMEN@GMAIL.COM,5,1104.73999,5523.700195,4.0,9.2,0.2,97,0,1,0,0,0,0,0,0,1,0,2
4974,ARTURO.D7784@GMAIL.COM,2,1017.23999,2034.479980,2.5,4.5,0.5,127,1,0,1,0,0,0,0,0,0,0,0

In [19]:
len(DB_In)

13

In [13]:
DB.head(1)

,EMAIL,SBol_Vend,Prom_Pagado,Sum_Pagado,%_Promo,Prom_Horas_Ant,Venta_Ant,Recencia,PAGO_EFECTIVO,PAGO_TARJETA,DESC_ADULTO,DESC_DISCAPACIDAD,DESC_ESTUDIANTE,DESC_MENOR,DESC_PETFRIENDLY,DESC_PROFESOR,DESC_PROMOCION ESPECIAL,DESC_SENECTUD,Cluster
0,00-MAZA.ESQUISTOSO@ICLOUD.COM,4,953.664978,3814.659912,6.25,2.5,0.75,190,1,0,0,0,0,0,0,0,1,0,1

In [14]:
df_ = pd.DataFrame()

In [15]:
# 1. Definimos las columnas de ORIGEN tal como las quieres, incluyendo 'VENTA' dos veces.
# Pandas creará un DataFrame con dos columnas idénticas llamadas 'VENTA' (o renombrará una internamente).
columnas_origen = [
    'BOLETOS_VEND',
    'VENTA', # Primera columna VENTA
    'VENTA', # Segunda columna VENTA
    'PORCENT_PROMO',
    'HORAS_ANTICIPACION',
    'VENTA_ANTICIPADA'
]

# 2. Definimos las columnas de DESTINO. Asegúrate de que este slice (DB.columns[1:7])
# contenga 6 nombres de columna que se alineen con el orden de las columnas de origen.
columnas_destino = DB.columns[1:7]

# 3. Asignación robusta usando .loc
# Se asigna el DataFrame de 6 columnas (RHS) a las 6 columnas de destino (LHS).
df_.loc[:, columnas_destino] = Df_Not[columnas_origen].values
df_['Recencia']=0

In [16]:
df_

,SBol_Vend,Prom_Pagado,Sum_Pagado,%_Promo,Prom_Horas_Ant,Venta_Ant,Recencia
0,1.0,1202.589966,1202.589966,0.0,2.0,1.0,0
1,1.0,962.070007,962.070007,20.0,2.0,1.0,0
2,1.0,1202.589966,1202.589966,0.0,1.0,1.0,0
3,1.0,601.289978,601.289978,0.0,19.0,0.0,0
4,1.0,1142.5,1142.5,5.0,2.0,0.0,0
5,1.0,1142.5,1142.5,5.0,2.0,0.0,0
6,1.0,1142.5,1142.5,5.0,2.0,0.0,0
7,1.0,1202.589966,1202.589966,0.0,5.0,0.0,0
8,1.0,1142.5,1142.5,5.0,3.0,0.0,0
9,1.0,1142.5,1142.5,5.0,14.0,0.0,0
10,1.0,1142.5,1142.5,5.0,14.0,0.0,0
11,1.0,1202.589966,1202.589966,0.0,2.0,0.0,0
12,1.0,1202.589966,1202.589966,0.0,1.0,0.0,0
13,1.0,1202.589966,1202.589966,0.0,1.0,0.0,0
14,1.0,1202.589966,1202.589966,0.0,1.0,0.0,0
15,1.0,1142.5,1142.5,5.0,1.0,0.0,0
16,1.0,1082.329956,1082.329956,0.0,1.0,0.0,0
17,1.0,1142.5,1142.5,5.0,2.0,0.0,0
18,1.0,1202.589966,1202.589966,0.0,2.0,0.0,0
19,1.0,1202.589966,1202.589966,0.0,2.0,0.0,0
20,1.0,601.289978,601.289978,0.0,1.0,0.0,0
21,1.0,1082.329956,1082.329956,0.0,1.0,0.0,0
22,1.0,601.289978,601.289978,0.0,11.0,0.0,0
23,1.0,1202.589966,1202.589966,0.0,11.0,0.0,0
24,1.0,962.070007,962.070007,20.0,0.0,0.0,0
25,1.0,1202.589966,1202.589966,0.0,10.0,0.0,0
26,1.0,1202.589966,1202.589966,0.0,9.0,0.0,0

In [17]:
df_dummies_desc = pd.get_dummies(Df_Not['DESC_DESCUENTO'], prefix='DESC').astype(int)
df_dummies_pago = pd.get_dummies(Df_Not['PAGO_METODO'], prefix='PAGO').astype(int)
#Df['EMAIL'],
componentes_alineados = [
    Df_Not['EMAIL'].reset_index(drop=True),
    df_.reset_index(drop=True),
    df_dummies_pago.reset_index(drop=True),
    df_dummies_desc.reset_index(drop=True)
]

# 2. Concatenamos sin usar ignore_index=True, lo que PRESERVA los nombres de columna.
# Como todos los componentes tienen ahora el mismo índice (0, 1, 2, ...), no habrá NaNs.
df_dummies_final = pd.concat(
    componentes_alineados,
    axis=1  # Concatenar como columnas
)

In [18]:
df_dummies_final

,EMAIL,SBol_Vend,Prom_Pagado,Sum_Pagado,%_Promo,Prom_Horas_Ant,Venta_Ant,Recencia,PAGO_EFECTIVO,PAGO_TARJETA,DESC_ADULTO,DESC_DISCAPACIDAD,DESC_ESTUDIANTE,DESC_MENOR,DESC_PETFRIENDLY,DESC_PROFESOR,DESC_PROMOCION ESPECIAL,DESC_SENECTUD
0,rey.ricardo.elizalde@ejemplo.com,1.0,1202.589966,1202.589966,0.0,2.0,1.0,0,1,0,1,0,0,0,0,0,0,0
1,martha.nava@ejemplo.com,1.0,962.070007,962.070007,20.0,2.0,1.0,0,1,0,0,0,0,0,0,0,1,0
2,alan.buenrostro.ruelas@ejemplo.com,1.0,1202.589966,1202.589966,0.0,1.0,1.0,0,1,0,1,0,0,0,0,0,0,0
3,arturo.rojas.alvarado@ejemplo.com,1.0,601.289978,601.289978,0.0,19.0,0.0,0,1,0,0,0,0,0,0,0,0,1
4,facundo.martinez.fredes@ejemplo.com,1.0,1142.5,1142.5,5.0,2.0,0.0,0,1,0,0,0,0,0,0,0,1,0
5,gabriela.lorena.fredes@ejemplo.com,1.0,1142.5,1142.5,5.0,2.0,0.0,0,1,0,0,0,0,0,0,0,1,0
6,luis.javier.duran.rubio@ejemplo.com,1.0,1142.5,1142.5,5.0,2.0,0.0,0,1,0,0,0,0,0,0,0,1,0
7,javier.contreras@ejemplo.com,1.0,1202.589966,1202.589966,0.0,5.0,0.0,0,1,0,1,0,0,0,0,0,0,0
8,luis.ángel.escobar.castillo@ejemplo.com,1.0,1142.5,1142.5,5.0,3.0,0.0,0,1,0,0,0,0,0,0,0,1,0
9,joaquin.fernando.bustos.ramirez@ejemplo.com,1.0,1142.5,1142.5,5.0,14.0,0.0,0,1,0,0,0,0,0,0,0,1,0
10,yair.acevedo.martinez@ejemplo.com,1.0,1142.5,1142.5,5.0,14.0,0.0,0,1,0,0,0,0,0,0,0,1,0
11,elvira.nunez@ejemplo.com,1.0,1202.589966,1202.589966,0.0,2.0,0.0,0,1,0,1,0,0,0,0,0,0,0
12,amalia.viana@ejemplo.com,1.0,1202.589966,1202.589966,0.0,1.0,0.0,0,1,0,1,0,0,0,0,0,0,0
13,mario.hidalgo@ejemplo.com,1.0,1202.589966,1202.589966,0.0,1.0,0.0,0,1,0,1,0,0,0,0,0,0,0
14,socorro.alvarez@ejemplo.com,1.0,1202.589966,1202.589966,0.0,1.0,0.0,0,1,0,1,0,0,0,0,0,0,0
15,wilber.hernández.lópez@ejemplo.com,1.0,1142.5,1142.5,5.0,1.0,0.0,0,1,0,0,0,0,0,0,0,1,0
16,iesus.medina@ejemplo.com,1.0,1082.329956,1082.329956,0.0,1.0,0.0,0,1,0,1,0,0,0,0,0,0,0
17,valerie.arango.de.la.guardia@ejemplo.com,1.0,1142.5,1142.5,5.0,2.0,0.0,0,1,0,0,0,0,0,0,0,1,0
18,jaime.romero@ejemplo.com,1.0,1202.589966,1202.589966,0.0,2.0,0.0,0,1,0,1,0,0,0,0,0,0,0
19,manuel.enrique.torres.berber@ejemplo.com,1.0,1202.589966,1202.589966,0.0,2.0,0.0,0,1,0,1,0,0,0,0,0,0,0
20,javier.castañeda.monter@ejemplo.com,1.0,601.289978,601.289978,0.0,1.0,0.0,0,1,0,0,0,0,1,0,0,0,0
21,alejandro.mazuca.ayala@ejemplo.com,1.0,1082.329956,1082.329956,0.0,1.0,0.0,0,1,0,1,0,0,0,0,0,0,0
22,oliveria.mejia.tolentino@ejemplo.com,1.0,601.289978,601.289978,0.0,11.0,0.0,0,1,0,0,0,0,1,0,0,0,0
23,m.teresa.tolentino.san.agustin@ejemplo.com,1.0,1202.589966,1202.589966,0.0,11.0,0.0,0,1,0,1,0,0,0,0,0,0,0
24,jeronimo.de.hoyos..carrillo@ejemplo.com,1.0,962.070007,962.070007,20.0,0.0,0.0,0,1,0,0,0,0,0,0,0,1,0
25,oscar.acosta@ejemplo.com,1.0,1202.589966,1202.589966,0.0,10.0,0.0,0,1,0,1,0,0,0,0,0,0,0
26,jose.l.martinez.martinez@ejemplo.com,1.0,1202.589966,1202.589966,0.0,9.0,0.0,0,1,0,1,0,0,0,0,0,0,0